*{
    margin: 0px;
    padding: 0px;
}
.row{
    padding: 10px 0px;
    margin: 6px 0px;
    color: rgba(0,0,0,0.6);
   
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
h4{

}
.col-xs-7{
    text-align: center;
 display: inline-block;
   
}
h4{
}

.col-xs-5{
   
    text-align: center;
    display: inline-block;
}